# Environment deps.
.env
.env.backup

# IDEs
/nbproject
/.idea
/.vscode

# Vendors
/vendor
/node_modules

# Temp dirs & trash
/temp
/tmp
coverage*
.DS_Store
*.cache

# etc.
npm-debug.log
yarn-error.log

# LARAVEL IDE Helper
_ide_helper.php
.phpstorm.meta.php
